<p id="notice"><%= notice %></p>

<h1>Last Orders</h1>

<table>
  <tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "#{order.order_type} on #{order.created_at}" , order_path(@orders) %></td>
      </tr>
    <% end %>
  </tr>
</table>
<br>
